


body {
      margin: 0 50px;
}

header {
    background-color: #1a7fbd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
}

header > div {
    margin-right: 20px;
}

header > div > img {
    margin-left: auto;
    margin-right: 10px;
    width: auto;
    height: 17px;
}

header > div > a {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6px;
    text-decoration: none;
    color: #a4dcff;
    
    
}

header > div > button {
    
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    color: white;
    background: black;
    border-radius: 5px;
    height: 23px;
    width: 90px;
}

.hr {
    background-color: #1a7fbd;
    padding: 0 150px;
}
.hrtop {
    margin: 0;
    height: 1px;
    background-image: radial-gradient(#a4dcff, #046bac);
    border: 0;
}
/*formulário*/
.cont {
    background-color: #1a7fbd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    
}

.container2 {
    
    border: 1px solid #1a7fbd;
    flex-basis: min-content;
}

form input {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify; font-size: 7px;
    border-radius: 2.5px; border: 1px solid #9e9e9eb2;
    margin: auto;
}

.dados {
    background-color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, Helvetica, sans-serif;
    text-align: justify; font-size: 7px; color: #1a7fbdcb;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 1px 10px 0 10px;
}

#name {
    width: 170px;
    height: 15px;
    margin-bottom: 5px;
}
#email {
    width: 170px;
    height: 15px;
    margin-bottom: 5px;
}

.code {
    background-color: #1a7fbdcb;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify; font-size: 7px; color: #a4dcff;
    padding: 0 10px;
    
}


.dev {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;   
    text-align: justify; font-size: 7px; color: #9e9e9eb2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 10px 30px 10px;

}

.bt {
    background: #1a7fbd;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 175px;
    
}

/*O Projeto*/
.container3 {

    background-color: #1a7fbd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

.imag {
    padding: 0 50px 50px;
}

.text {
    padding: 0;
}

.project {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #a4dcff;
}

.p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    color: #a4dcff;
    width: 200px;    
}

.p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    font-weight: 100;
    color: #a4dcff;
    width: 200px;
}

/*O Problema*/
.cont2 {
    background-color: #fcfcfcd5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 34px 0 50px;
}

.img2 {
    padding: 0 50px;
}

.problem {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #1a7fbd;
}

.cont3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    margin-top: -67px;
}

.conf  {
    background-color: #fff;
    width: 130px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-right: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 20px 15px 101px 33px #e5e3e3;
    
}
.hp {
    font-size: 16px;
}
.pp {
    font-size: 9px;
}

/*Sua Jornada*/
#jornada {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #1a7fbd;
    font-size: 18px;
    margin: 100px 0 50px;

}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 10px;
}

.imgicon {
    background-color: white;
    width: 17px;
    padding: 7px;
    border-radius: 5px;
    margin-right: 10px;
}

.jor {
    background-color: #1a7fbd;
    width: 145px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    color: #fff;
    text-align: left;
    margin-right: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 20px 100px 101px 33px #e5e3e3;
    display: flex;
    align-items: center;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btsel {
    background: #000;
    border-color: #000;
    font-family:'Arial Narrow', Arial, sans-serif, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    color: white;
    border-radius: 5px;
    height: 35px;
    width: 265px;
    margin-top: 66px;
    box-shadow: 20px 46px 101px 33px #e5e3e3;
}

#img {
    height: 15px;
    width: auto;
    padding-left: 10px;

}

/*Objetivos*/
.cont5 {
    background-color: #1a7fbd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 80px;
    
}

.conf1  {
    background-color: #fff;
    width: 130px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-right: 5px;
    padding: 10px 20px;
    border-radius: 10px;
}

.objetivo {
    background-color: #1a7fbd;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Rodapé*/
footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 35px 50px 35px;
    
}

.foot1 {    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5px;
    color: #fff;
    width: 106px;
    height: auto;
    margin-right: 20px;
}
.foot2 {    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    color: #fff;
    width: 100px;
    height: auto;
    margin-right: 20px;
    padding-left: inherit;
}
.foot2 > button {
    font-size: 8px;
    color: #000;
    height: 25px;
    border-color: #000;
    border-radius: 5px;

}
.foot3 {    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    color: #fff;
    width: 80px;
    height: auto;
    border-right: 1px solid #fff;
    margin-right: 35px;
}
.foot4 {    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    color: #fff;
    width: 50px;
    height: auto;
}


#ico {
    width: 10px;
    height: auto;
    padding: 10px 10px 10px 0;
}